<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Голдлайт
    link(rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet" href="css/style.css")
  body
    main
      section.product-info
        .product-info__decor.product-info__decor_1
          img(src="images/main/product-info-decor-1.png", alt="decor")
        .product-info__decor.product-info__decor_2
          img(src="images/main/product-info-decor-2.png", alt="decor")
        .product-info__decor.product-info__decor_3
          img(src="images/main/product-info-decor-3.png", alt="decor")
        .product-info__decor.product-info__decor_mobile-1
          img(src="images/main/product-info-mobile-decor-1.png", alt="decor")
        .wrap
          .product-info-top
            .product-info-top__item
              .quality-info.d-flex
                .quality-info__item
                  .img-box
                    img.quality-info__icon(src="./images/icon/certificate.png", alt="icon")
                  span.quality-info__text.fw-semi-bold.text-sx.color-1 Сертефикат качества
                .quality-info__item
                  .img-box
                    img.quality-info__icon(src="./images/icon/safety.png", alt="icon")
                  span.quality-info__text.fw-semi-bold.text-sx.color-1 100% безопасно и эффективно
                .quality-info__item
                  .img-box
                    img.quality-info__icon(src="./images/icon/quality.png", alt="icon")
                  span.quality-info__text.fw-semi-bold.text-sx.color-1 Нам УЖЕ позвонили 4672 клиента, чтобы сказать СПАСИБО
            span.d-block.product-info-top__item.fw-semi-bold.color-1 Голдлайт Форте – это принципиально новое средство для похудения, которое пробуждает возможности организма, подарит вам заряд энергии, наградит порцией витаминов и минералов и поможет скинуть ненужные килограммы.
          .product-info-title-box.color-1
            h1.product-info__title.d-flex.title-xl.fw-black Голдлайт 
              span.product-info__title_size.title-sm.fw-regular Форте 
            span.product-info__subtitle.d-block.text-lg.fw-semi-bold Голдлайт Форте решит проблему, копившуюся годами
          
          .product-info-box.d-flex
            .product-info-box__item
              ul.list.product-info-box-list
                li.product-info-box-list__item.d-flex.align-center
                  .product-info-box-list__decor 
                    img.img(src="images/icon/icons-bg.png", alt="decor")
                  span.product-info-box-list__text.color-3.fw-medium Голдлайт Форте — уникальный микс незаменимых аминокислот, никакой химии. 
                li.product-info-box-list__item.d-flex.align-center
                  .product-info-box-list__decor 
                    img.img(src="images/icon/icons-bg.png", alt="decor")
                  span.product-info-box-list__text.color-3.fw-medium Избавит вас от лишних 8-12 кг в месяц. 
                li.product-info-box-list__item.d-flex.align-center
                  .product-info-box-list__decor 
                    img.img(src="images/icon/icons-bg.png", alt="decor")
                  span.product-info-box-list__text.color-3.fw-medium Вам не придётся голодать и «жить» в тренажёрном зале
                li.product-info-box-list__item.d-flex.align-center
                  .product-info-box-list__decor 
                    img.img(src="images/icon/icons-bg.png", alt="decor")
                  span.product-info-box-list__text.color-3.fw-medium Долой диеты, после которых вес возвращается вдвойне
                li.product-info-box-list__item.d-flex.align-center
                  .product-info-box-list__decor 
                    img.img(src="images/icon/icons-bg.png", alt="decor")
                  span.product-info-box-list__text.color-3.fw-medium Это быстро, вкусно и безумно полезно
              .form-box.bg-2.d-flex.align-center.flex-column.justify-center
                .form-box__title.ta-center.fw-bold.color-2.text-xl ТОЛЬКО ОДИН ДЕНЬ!
                .form-box__subtitle.color-2.text-ml КОНСУЛЬТАЦИЯ ДИЕТОЛОГА В ПОДАРОК!
                span.form-box__date.todays.fw-semi-bold.text-xl.color-1.bg-1
                .price.d-flex.align-center.flex-column.justify-center
                  span.price__old.title-md.fw-semi-bold.color-4 2840
                  span.price__new.fw-semi-bold.title-sx.tt-uppercase.color-5 БЕСПЛАТНО*
                form.form(action="" method="POST")
                  .form-item.form-item_select
                    .form-item_select-decor &lt;
                    select.form__select.text-sx(name="country")
                      option(value="ru") Россия
                      option(value="uk") Украина 
                  .form-item
                    input.form__input.text-sx(type="text" required name="name" placeholder="Имя")
                  .form-item
                    input.form__input.text-sx(type="tel" required name="phone" placeholder="Телефон")
                  button.btn.form__btn.color-1.fw-semi-bold.text-md.tt-uppercase.bg-3 ПОЛУЧИТЬ БЕСПЛАТНО

                .form-box__text.text-sm.color-2.fw-medium *При заказе курсовой программы

            .product-info-box__item 
              .img-box 
                img.img(src="images/main/prod.png", alt="product")

      section.disadvantages-obesity
        .disadvantages-obesity__decor.disadvantages-obesity__decor_1
          img(src="images/main/disadvantages-obesity-decor-1.png", alt="decor")
        .disadvantages-obesity__decor.disadvantages-obesity__decor_2
          img(src="images/main/disadvantages-obesity-decor-2.png", alt="decor")
        .disadvantages-obesity__decor.disadvantages-obesity__decor_3
          img(src="images/main/disadvantages-obesity-decor-3.png", alt="decor")
        .disadvantages-obesity__decor.disadvantages-obesity__decor_4
          img(src="images/main/disadvantages-obesity-decor-3.png", alt="decor")
        .disadvantages-obesity__decor.disadvantages-obesity__decor_5
          img(src="images/main/disadvantages-obesity-decor-2.png", alt="decor")
        .disadvantages-obesity__decor.disadvantages-obesity__decor_6
          img(src="images/main/disadvantages-obesity-decor-1.png", alt="decor")
        .wrap
          h3.disadvantages-obesity__title.title-lg.fw-medium.ta-center А НУЖНО ЛИ ХУДЕТЬ?
          span.disadvantages-obesity__subtitle.d-block.fw-medium.text-ml.ta-center.color-10 Ожирение – это не только косметический дефект и невозможность жить полноценной жизнью. Ожирение – это причина возникновения серьезных заболеваний, ведь от лишнего веса страдает сердце, суставы, органы пищеварения.
          .disadvantages-obesity-container.grid-box
            span.disadvantages-obesity-container__title.d-block.fw-medium.ta-center.text-lg.tt-uppercase ЛИШНИЙ ВЕС ПРОВОЦИРУЕТ:
            .disadvantages-obesity-box
              .disadvantages-obesity-box__img
                img.img(src="images/main/disadvantages-obesity-img-1.png", alt="images")
              .disadvantages-obesity-box__flex.d-flex.justify-between.grid-2.grid-xl-1
                .disadvantages-obesity-box-item.grid-item
                  .disadvantages-obesity-box-item__mobile
                    img.img(src="images/main/disadvantages-obesity-mobile-img-1.jpg", alt="picture")
                  .disadvantages-obesity-box-item__text
                    span.disadvantages-obesity-box-item__title.tt-uppercase.d-block.fw-semi-bold АТЕРОСКЛЕРОЗ,
                    p.disadvantages-obesity-box-item__text-info.d-block.color-2 который неизбежно приводит к инсульту
                .disadvantages-obesity-box-item.grid-item
                  .disadvantages-obesity-box-item__text.ml-auto
                    span.disadvantages-obesity-box-item__title.tt-uppercase.d-block.fw-semi-bold ИШЕМИЧЕСКУЮ БОЛЕЗНЬ СЕРДЦА, 
                    p.disadvantages-obesity-box-item__text-info.d-block.color-2 которая не даёт человеку жить полноценной жизнью и ограничивает физические возможности
                  .disadvantages-obesity-box-item__mobile
                    img.img(src="images/main/disadvantages-obesity-mobile-img-2.jpg", alt="picture")
                .disadvantages-obesity-box-item.grid-item
                  .disadvantages-obesity-box-item__mobile
                    img.img(src="images/main/disadvantages-obesity-mobile-img-3.jpg", alt="picture")
                  .disadvantages-obesity-box-item__text
                    span.disadvantages-obesity-box-item__title.tt-uppercase.d-block.fw-semi-bold САХАРНЫЙ ДИАБЕТ, 
                    p.disadvantages-obesity-box-item__text-info.d-block.color-2 который делает человека инвалидом, особенно при условии, что заболевание протекает с осложнениями
                .disadvantages-obesity-box-item.grid-item
                  .disadvantages-obesity-box-item__text.ml-auto
                    span.disadvantages-obesity-box-item__title.tt-uppercase.d-block.fw-semi-bold АРТРОЗ,
                    p.disadvantages-obesity-box-item__text-info.d-block.color-2 который ограничивает свободу передвижений и делает человека маломобильным
                  .disadvantages-obesity-box-item__mobile
                    img.img(src="images/main/disadvantages-obesity-mobile-img-4.jpg", alt="picture")
            .disadvantages-obesity-addition.m-null-auto
              p.disadvantages-obesity-addition__item.text-ml.fw-medium.ta-center Научно доказано, что раковые клетки очень любят жировую ткань. Ведь в ней есть всё необходимое для их усиленного роста и развития.
              .disadvantages-obesity-addition__decor.d-flex.justify-center
                picture.img
                  source(srcset="images/main/disadvantages-obesity-decor-1.png" media="(max-width: 750px)")
                  img(src="images/main/disadvantages-obesity-img-2.png", alt="decor")
              p.disadvantages-obesity-addition__item.text-ml.fw-medium.ta-center Если вы давно хотите дать бой своим лишним килограммам, то пора задуматься о приобретении эффективного средства борьбы с ними

      section.cause-obesity
        .cause-obesity__bg
           img.img(src="images/main/cause-obesity-bg.jpg", alt="background")
        .cause-obesity__decor.cause-obesity__decor_1
          img(src="images/main/cause-obesity-decor-1.png", alt="decor")
        .cause-obesity__decor.cause-obesity__decor_2
          img(src="images/main/cause-obesity-decor-1.png", alt="decor")
        .cause-obesity__decor.cause-obesity__decor_3
          img(src="images/main/cause-obesity-decor-1.png", alt="decor")
        .cause-obesity__decor.cause-obesity__decor_4
          img(src="images/main/cause-obesity-decor-1.png", alt="decor")
        .cause-obesity__decor.cause-obesity__decor_mobile-1
          img(src="images/main/cause-obesity-mobile-decor-1.png", alt="decor")
          
        .wrap 
          h3.cause-obesity__title.title-lg.fw-medium.ta-center ПОЧЕМУ ЛЮДИ ТОЛСТЕЮТ?
          .cause-obesity-box.d-flex
            .cause-obesity-box__item.cause-obesity-box__item_1.d-flex.flex-column.justify-between
              .cause-obesity-item.d-flex.align-center.cause-obesity-item_1
                span.cause-obesity-item__text.bg-4.fw-medium.color-1 Неправильный образ жизни (вредные привычки, чрезмерное употребление пищи, богатой жирами и углеводами, отсутствие физической активности)
                .cause-obesity-item__number.title-xl.d-flex.justify-center.align-center.color-1.ta-center
                  span.cause-obesity-item__number-text 1
                  img.img(src="images/icon/icons-bg.png", alt="background")
              .cause-obesity-item.d-flex.align-center.cause-obesity-item_2
                span.cause-obesity-item__text.bg-4.fw-medium.color-1 Нарушение обмена веществ
                .cause-obesity-item__number.title-xl.d-flex.justify-center.align-center.color-1.ta-center
                  span.cause-obesity-item__number-text 2
                  img.img(src="images/icon/icons-bg.png", alt="background")
              .cause-obesity-item.d-flex.align-center.cause-obesity-item_3
                span.cause-obesity-item__text.bg-4.fw-medium.color-1 Генетическая предрасположенность
                .cause-obesity-item__number.title-xl.d-flex.justify-center.align-center.color-1.ta-center
                  span.cause-obesity-item__number-text 3
                  img.img(src="images/icon/icons-bg.png", alt="background")
            .cause-obesity-box__item.cause-obesity-box__item_2 
              img.img.d-block.m-null-auto(src="images/main/cause-obesity-img-1.png", alt="picture")
            .cause-obesity-box__item.cause-obesity-box__item_3.d-flex.flex-column.justify-between
              .cause-obesity-item.cause-obesity-item_4.d-flex.align-center
                .cause-obesity-item__number.title-xl.d-flex.justify-center.align-center.color-1.ta-center
                  span.cause-obesity-item__number-text 4
                  img.img(src="images/icon/icons-bg.png", alt="background")
                span.cause-obesity-item__text.bg-4.fw-medium.color-1 Дефицит жизненно важных витаминов и минералов
              .cause-obesity-item.cause-obesity-item_5.d-flex.align-center
                .cause-obesity-item__number.title-xl.d-flex.justify-center.align-center.color-1.ta-center
                  span.cause-obesity-item__number-text 5
                  img.img(src="images/icon/icons-bg.png", alt="background")
                span.cause-obesity-item__text.bg-4.fw-medium.color-1 Некорректная работа щитовидной железы, гормональные нарушения
              .cause-obesity-item.cause-obesity-item_6.d-flex.align-center
                .cause-obesity-item__number.title-xl.d-flex.justify-center.align-center.color-1.ta-center
                  span.cause-obesity-item__number-text 6
                  img.img(src="images/icon/icons-bg.png", alt="background")
                span.cause-obesity-item__text.bg-4.fw-medium.color-1 Отсутствие баланса между количеством потреблённой энергии и расходуемо
            .cause-obesity-box__decor.cause-obesity-box__decor_1 
            .cause-obesity-box__decor.cause-obesity-box__decor_2 
            .cause-obesity-box__decor.cause-obesity-box__decor_3 
           
      section.benefit-prod.bg-gradient-2
        .wrap 
          .benefit-prod-box.color-1.d-flex
            .benefit-prod-item 
              h3.benefit-prod__title.title-lg.tt-uppercase.fw-regular.ta-center В ЧЁМ ПОЛЬЗА
                span.d-block.benefit-prod__size.title-sx.tt-uppercase И КАК ЭТО РАБОТАЕТ?
              p.benefit-prod__subtitle.text-ml Благодаря многокомпонентному, сбалансированному составу, «<b>Голдлайт Форте</b>» работает сразу в нескольких направлениях.
              .benefit-prod-list-box
                span.benefit-prod-list-box__title.fw-semi-bold.text-ml.color-6.tt-uppercase.d-flex РЕГУЛЯРНОЕ УПОТРЕБЛЕНИЕ ДАННОГО СРЕДСТВА СПОСОБСТВУЕТ:
                ul.benefit-prod-list
                  li.benefit-prod-list-item.d-flex.align-center
                    .benefit-prod-list-item-icon.d-flex.justify-center.align-center
                      img.img.benefit-prod-list-item-icon_bg(src="images/icon/icons-bg.png", alt="background")
                      img.img.benefit-prod-list-item-icon_img(src="images/icon/benefit-prod-icon-1.png", alt="icon")
                    p.benefit-prod-list-item__text.text-md.fw-medium Увеличивает синтез адреналина,что приводит к ускорению ключевых процессов в организме

                  li.benefit-prod-list-item.d-flex.align-center
                    .benefit-prod-list-item-icon.d-flex.justify-center.align-center
                      img.img.benefit-prod-list-item-icon_bg(src="images/icon/icons-bg.png", alt="background")
                      img.img.benefit-prod-list-item-icon_img(src="images/icon/benefit-prod-icon-2.png", alt="icon")
                    p.benefit-prod-list-item__text.text-md.fw-medium Запускает процесс потребления внутренних резервов полезных веществ, в том числе жировых отложений 
                  li.benefit-prod-list-item.d-flex
                    .benefit-prod-list-item-icon.d-flex.justify-center.align-center
                      img.img.benefit-prod-list-item-icon_bg(src="images/icon/icons-bg.png", alt="background")
                      img.img.benefit-prod-list-item-icon_img(src="images/icon/benefit-prod-icon-3.png", alt="icon")
                    p.benefit-prod-list-item__text.text-md.fw-medium В состоянии стресса запускает процесс мобилизации жира из печени, почек, сердца, селезенки, и дальнейшего его окисления и вывода из организма. Решает проблему токсического ожирениявнутренних органов. 
                  li.benefit-prod-list-item.d-flex.align-center
                    .benefit-prod-list-item-icon.d-flex.justify-center.align-center
                      img.img.benefit-prod-list-item-icon_bg(src="images/icon/icons-bg.png", alt="background")
                      img.img.benefit-prod-list-item-icon_img(src="images/icon/benefit-prod-icon-4.png", alt="icon")
                    p.benefit-prod-list-item__text.text-md.fw-medium Активно вырабатывает иммунные клетки 
                  li.benefit-prod-list-item.d-flex.align-center
                    .benefit-prod-list-item-icon.d-flex.justify-center.align-center
                      img.img.benefit-prod-list-item-icon_bg(src="images/icon/icons-bg.png", alt="background")
                      img.img.benefit-prod-list-item-icon_img(src="images/icon/benefit-prod-icon-5.png", alt="icon")
                    p.benefit-prod-list-item__text.text-md.fw-medium Ускоряет усвояемость белка, что отражается на приросте мышечной массы

              .benefit-prod-text-info.d-flex.flex-column
                p.benefit-prod-text-info__content.d-block.m-null-auto.ta-center.text-ml.color-7.tt-uppercase ГОЛДЛАЙТ ФОРТЕ ВКЛЮЧАЕТСЯ В РАБОТУ СРАЗУ ПОСЛЕ УПОТРЕБЛЕНИЯ
                a(href="#").form-link.benefit-prod-text-info__link.color-1.tt-uppercase.bg-3.text-md.fw-semi-bold.m-null-auto ПОЛУЧИТЬ БЕСПЛАТНО

            .benefit-prod-box-item 
              h4.benefit-prod-box-item__title.d-flex.title-xl.fw-black Голдлайт 
                span.benefit-prod-box-item__title_size.title-sm.fw-regular Форте
              .benefit-prod-box-item__img 
                img.img(src="images/main/benefit-prod-img-1.png", alt="picture")
               
      section.structure-prod
        .structure-prod__decor.structure-prod__decor_1
          img.img(src="images/main/structure-prod-decor-1.png", alt="decor")
        .structure-prod__decor.structure-prod__decor_2
          img.img(src="images/main/structure-prod-decor-1.png", alt="decor")
        h3.structure-prod__title.tt-uppercase.ta-center.fw-medium.title-lg ИЗ ЧЕГО СОСТОИТ ГОЛДЛАЙТ ФОРТЕ
        .wrap
          .structure-prod-box
            .structure-prod__img
              img.img(src="images/main/molecula.png", alt="picture")
            .structure-prod-item.structure-prod-item_1
              span.structure-prod-item__element.color-2.title-md.font-fam-1.bg-gradient-3 Tyr
              .structure-prod-item-info.bg-4.color-1
                span.structure-prod-item-info__title.text-ml.fw-bold Тирозин
                p.structure-prod-item-info__text Усиливает распад жиров и нормализует углеводный обмен, регулирует аппетит, артериальное давление, снижает риск гипертонии, улучшает тонус сосудов

            .structure-prod-item.structure-prod-item_2
              span.structure-prod-item__element.color-2.title-sx.font-fam-1.bg-gradient-3 Phe
              .structure-prod-item-info.bg-4.color-1
                span.structure-prod-item-info__title.text-ml.fw-bold Фенилаланин
                p.structure-prod-item-info__text Улучшает настроение, снижает желание поесть, легко, без депрессии, приспосабливает организм к здоровому , вызывает чувство сытости
            .structure-prod-item.structure-prod-item_3
              span.structure-prod-item__element.color-2.title-lm.font-fam-1.bg-gradient-3 Ile
              .structure-prod-item-info.bg-4.color-1
                span.structure-prod-item-info__title.text-ml.fw-bold Изолейцин
                p.structure-prod-item-info__text Производит гемоглобин, утилизирует холестерина, увеличивает скорость обменных процессов, вырабатывает эластин = подтянутая кожа без целлюлита
            .structure-prod-item.structure-prod-item_4
              span.structure-prod-item__element.color-2.title-md.font-fam-1.bg-gradient-3 Val
              .structure-prod-item-info.bg-4.color-1
                span.structure-prod-item-info__title.text-ml.fw-bold Валин
                p.structure-prod-item-info__text Формирует и восстанавливает мышечную ткань, снабжает энергией мышечные клетки, вырабатывает серотонин (гормон радости), удаляет излишки азота из организма
            .structure-prod-item.structure-prod-item_5
              span.structure-prod-item__element.color-2.title-md.font-fam-1.bg-gradient-3  Leu
              .structure-prod-item-info.bg-4.color-1
                span.structure-prod-item-info__title.text-ml.fw-bold Лейцин
                p.structure-prod-item-info__text Увеличивает выносливость и придает силы, борется с накопленным годами жиром, стабилизирует уровень сахара в крови, предотвращает потерю мышечной массы у людей старшего возраста
            .structure-prod-item.structure-prod-item_6
              span.structure-prod-item__element.color-2.title-md.font-fam-1.bg-gradient-3 Met
              .structure-prod-item-info.bg-4.color-1
                span.structure-prod-item-info__title.text-ml.fw-bold Метионин
                p.structure-prod-item-info__text Нормализует липидный обмен, стимулирует мобилизацию жира из печени, окисляет его, что уменьшает риск жировой инфильтрации печени, очищает организм от токсинов, снабжает энергией
            .structure-prod-item.structure-prod-item_7
              span.structure-prod-item__element.color-2.title-md.font-fam-1.bg-gradient-3 Trp
              .structure-prod-item-info.bg-4.color-1
                span.structure-prod-item-info__title.text-ml.fw-bold Триптофан
                p.structure-prod-item-info__text Положительно влияет на настроение и работоспособность, улучшает состояние волос и кожи, нормализует сон
          .structure-prod-slider 
            .swiper-container
              .swiper-wrapper
                .swiper-slide
                  .structure-prod-item-info.bg-4.color-1
                    span.structure-prod-item-info__title.text-ml.fw-bold Тирозин
                    p.structure-prod-item-info__text Усиливает распад жиров и нормализует углеводный обмен, регулирует аппетит, артериальное давление, снижает риск гипертонии, улучшает тонус сосудов
                .swiper-slide
                  .structure-prod-item-info.bg-4.color-1
                    span.structure-prod-item-info__title.text-ml.fw-bold Фенилаланин
                    p.structure-prod-item-info__text Улучшает настроение, снижает желание поесть, легко, без депрессии, приспосабливает организм к здоровому , вызывает чувство сытости
                .swiper-slide
                  .structure-prod-item-info.bg-4.color-1
                    span.structure-prod-item-info__title.text-ml.fw-bold Изолейцин
                    p.structure-prod-item-info__text Производит гемоглобин, утилизирует холестерина, увеличивает скорость обменных процессов, вырабатывает эластин = подтянутая кожа без целлюлита
                .swiper-slide
                  .structure-prod-item-info.bg-4.color-1
                    span.structure-prod-item-info__title.text-ml.fw-bold Валин
                    p.structure-prod-item-info__text Формирует и восстанавливает мышечную ткань, снабжает энергией мышечные клетки, вырабатывает серотонин (гормон радости), удаляет излишки азота из организма
                .swiper-slide
                  .structure-prod-item-info.bg-4.color-1
                    span.structure-prod-item-info__title.text-ml.fw-bold Лейцин
                    p.structure-prod-item-info__text Увеличивает выносливость и придает силы, борется с накопленным годами жиром, стабилизирует уровень сахара в крови, предотвращает потерю мышечной массы у людей старшего возраста
                .swiper-slide
                  .structure-prod-item-info.bg-4.color-1
                    span.structure-prod-item-info__title.text-ml.fw-bold Метионин
                    p.structure-prod-item-info__text Нормализует липидный обмен, стимулирует мобилизацию жира из печени, окисляет его, что уменьшает риск жировой инфильтрации печени, очищает организм от токсинов, снабжает энергией
                .swiper-slide
                  .structure-prod-item-info.bg-4.color-1
                    span.structure-prod-item-info__title.text-ml.fw-bold Триптофан
                    p.structure-prod-item-info__text Положительно влияет на настроение и работоспособность, улучшает состояние волос и кожи, нормализует сон
              .structure-prod-slider__decor.structure-prod-slider__decor_animated
                img.img(src="./images/icon/swipe.png", alt="swipe")
  
      section.pluses-prod
        .wrap 
          h3.pluses-prod__title.title-lg.fw-medium.ta-center ЧЕМ «ГОЛДЛАЙТ ФОРТЕ» ЛУЧШЕ ДРУГИХ ПРОДУКТОВ ДЛЯ ПОХУДЕНИЯ?
          .pluses-prod-box.d-flex.align-end.justify-between
            .pluses-prod-box-item.pluses-prod-box-item_1 
              p.pluses-prod-box-item__text.text-ml.color-1 В составе данного продукта мы учли все свойства незаменимых аминокислот, а самое главное их дозировку. Средство является активатором всех естественных процессов в организме. Аналогов ему на сегодняшний день – нет! Конечно, вы можете пойти другим путем и получить в награду за свои страдания красивую фигуру. Вот только какой ценой?! Ведь диеты, голодания, прием гормональных препаратов, изнуряющие тренировки и нож хирурга – все это дорого, долго и опасно для здоровья.
            .pluses-prod-box-item.pluses-prod-box-item_2
              img.img(src="images/main/prod.png", alt="product")
            .pluses-prod-box-item.pluses-prod-box-item_3
              p.pluses-prod-box-item__text.text-ml.color-1 Голдлайт Форте – это совершенно другой подход к проблеме лишнего веса, не подразумевающий привлечения солидных ресурсов, в том числе временных и финансовых. Количество людей, сумевших достичь поразительных результатов, при регулярном приеме Голдлайт Форте достигло нескольких десятков тысяч. И их число растет!

      section.authoritative-opinion.bg-gradient-1
        .wrap 
          .authoritative-opinion-box.d-flex.align-end
            .authoritative-opinion-item.authoritative-opinion-item_1
              .img-box.d-flex.align-end.justify-start
                img.img(src="images/main/authoritative-opinion-img-1.png", alt="doctor")
            .authoritative-opinion-item.authoritative-opinion-item_2
              h3.authoritative-opinion__title.title-lg.fw-medium АВТОРИТЕТНОЕ МНЕНИЕ
              .authoritative-opinion-item-box 
                p.authoritative-opinion-item-box__text.text-ml Для нормального функционирования организма каждого человека большое значение имеют аминокислоты, ведь это – важнейшие элементы, из которых состоят все белки организма. В строительстве фигуры аминокислотам отводится одно из центральных мест. Во-первых, это источник энергии, и организм активно использует его для собственного роста, восстановления и выработки гормонов, антител, ферментов. От них зависит не только масса мышц, но и «реабилитация» физического и психического тонуса, сжигание подкожного жира и интеллектуальная деятельность мозга. Аминокислоты полезны, поскольку содержат мало калорий, снижают аппетит. Эти «кирпичики» необходимы каждому. Попадая в организм, они сразу же начинают работать, стимулируя метаболизм и питая мышцы.
                p.authoritative-opinion-item-box__text.text-ml Еще важная ошибка, которую совершают мои пациенты – это диеты. Когда в желудке количество пищи уменьшается, по отношению с привычной дозой, начинает выделяться гормон, который побуждает в нас голод, и в итоге, мы не сдерживаемся и налетаем на еду. Принимая аминокислоты этого не случится. Этому есть научное объяснение. Один из видов аминокислот блокирует выработку гормона голода, и тем самым создает в организме человека ощущение насыщенности.
              h4.authoritative-opinion__prod-name.d-flex.title-xl.fw-black Голдлайт 
                span.title-sm.fw-semi-bold Форте 
              span.authoritative-opinion__postscript.text-ml.color-7.fw-medium ПРОШЁЛ КЛИНИЧЕСКИЕ ИСПЫТАНИЯ!
              
      section.method-application
        .method-application__decor.method-application__decor_1
          img.img(src="images/main/method-application-decor-1.png", alt="decor")
        .method-application__decor.method-application__decor_2
          img.img(src="images/main/method-application-decor-2.png", alt="decor")
        .method-application__decor.method-application__decor_3
          img.img(src="images/main/method-application-decor-3.png", alt="decor")
        .wrap 
          .method-application-box.d-flex.align-center
            .method-application-item.method-application-item_1
              .img-box.d-flex.align-end
                img.img(src="images/main/method-application-img-1.png", alt="picture")
            .method-application-item.method-application-item_2
              h3.method-application__title.fw-medium.title-lg.color-1 СПОСОБ ПРИМЕНЕНИЯ
              .method-application-text-box
                ul.method-application-list.list.bg-base
                  li.method-application-list__item.list__item
                    span.text-xl.color-2 По 1 саше, 2 раза в день, утром и вечером.
                  li.method-application-list__item.list__item
                    span.text-xl.color-2 Растворите в 100 мл. теплой воды
                  li.method-application-list__item.list__item
                    span.text-xl.color-2 Принимайте перед приемом пищи
                .method-application-item__decor
                  img.img(src="images/main/method-application-img-2.png", alt="decor")

      section.reviews
        .wrap
          h3.reviews__title.fw-medium.title-lg.ta-center ОТЗЫВЫ
          .reviews-slider-container
            .reviews-slider
              .swiper-container.reviews-slider-box
                .swiper-wrapper
                  .swiper-slide
                    .reviews-item
                      .reviews-item__img.reviews-item__img_color.d-flex.align-end
                        img.img(src="images/main/reviews-img-1.png", alt="avatar")
                  .swiper-slide
                    .reviews-item
                      .reviews-item__img.d-flex.align-end
                        img.img(src="images/main/reviews-img-2.png", alt="avatar")
                  .swiper-slide
                    .reviews-item
                      .reviews-item__img.d-flex.align-end
                        img.img(src="images/main/reviews-img-3.png", alt="avatar")
            .swiper-button-prev.reviews-swiper-button-prev
            .swiper-button-next.reviews-swiper-button-next
          .reviews-text-box
            .reviews-text-box-item
              span.reviews-text-box-item__name.ta-center.d-block.fw-medium.text-lg Жанна Аркадиевна
              .reviews-text-box-item__info.ta-center.color-13
                span.reviews-text-box-item__age 31 лет
                span , 
                span.reviews-text-box-item__city Москва
              span.reviews-text-box-item__text.d-flex.justify-center.color-2.ta-center Только Голдлайт Форте мне по-настоящему помог убрать лишний жир. Пробовала многие препараты и периодически сижу на всяких диетах, но результаты ничтожные, да еще и побочки, а вот с Голдлайт Форте у меня не было ни головокружений, ни тошноты. Принимаю его месяц, на весах –минус 9 кг!

            .reviews-text-box-item
              span.reviews-text-box-item__name.ta-center.d-block.fw-medium.text-lg Сергей Петров
              .reviews-text-box-item__info.ta-center.color-13
                span.reviews-text-box-item__age 37 лет
                span , 
                span.reviews-text-box-item__city Екатеринбург
              span.reviews-text-box-item__text.d-flex.justify-center.color-2.ta-center Только Голдлайт Форте мне по-настоящему помог убрать лишний жир. Пробовала многие препараты и периодически сижу на всяких диетах, но результаты ничтожные, да еще и побочки, а вот с Голдлайт Форте у меня не было ни головокружений, ни тошноты. Принимаю его месяц, на весах –минус 9 кг!

            .reviews-text-box-item
              span.reviews-text-box-item__name.ta-center.d-block.fw-medium.text-lg Петр Сергеев
              .reviews-text-box-item__info.ta-center.color-13
                span.reviews-text-box-item__age 33 лет
                span , 
                span.reviews-text-box-item__city Астрахань
              span.reviews-text-box-item__text.d-flex.justify-center.color-2.ta-center Только Голдлайт Форте мне по-настоящему помог убрать лишний жир. Пробовала многие препараты и периодически сижу на всяких диетах, но результаты ничтожные, да еще и побочки, а вот с Голдлайт Форте у меня не было ни головокружений, ни тошноты. Принимаю его месяц, на весах –минус 9 кг!

      section.advantages
        .wrap 
          h3.advantages__title.fw-bold.color-1.title-lg.ta-center В ЧЁМ ПРЕИМУЩЕСТВА ГОЛДЛАЙТ ФОРТЕ ?
          .advantages-container.grid-box.color-1
            .grid-6.grid-xl-3.grid-md-1.advantages-box
              .advantages-box-item.grid-item.d-flex.flex-column.align-center
                .advantages-box__img-box.d-flex.align-center.justify-center
                  .advantages-box__img-box-bg
                    img.img(src="images/icon/icons-bg.png", alt="background")
                  img.img(src="images/icon/advantages-icon-1.png", alt="decor")
                p.advantages-box__text.text-ml.fw-semi-bold.ta-center Абсолютно натуральный состав
              .advantages-box-item.grid-item.d-flex.flex-column.align-center
                .advantages-box__img-box.d-flex.align-center.justify-center
                  .advantages-box__img-box-bg
                    img.img(src="images/icon/icons-bg.png", alt="background")
                  img.img(src="images/icon/advantages-icon-2.png", alt="decor")
                p.advantages-box__text.text-ml.fw-semi-bold.ta-center Высокая эффективность
              .advantages-box-item.grid-item.d-flex.flex-column.align-center
                .advantages-box__img-box.d-flex.align-center.justify-center
                  .advantages-box__img-box-bg
                    img.img(src="images/icon/icons-bg.png", alt="background")
                  img.img(src="images/icon/advantages-icon-3.png", alt="decor")
                p.advantages-box__text.text-ml.fw-semi-bold.ta-center Удобство применения
              .advantages-box-item.grid-item.d-flex.flex-column.align-center
                .advantages-box__img-box.d-flex.align-center.justify-center
                  .advantages-box__img-box-bg
                    img.img(src="images/icon/icons-bg.png", alt="background")
                  img.img(src="images/icon/advantages-icon-4.png", alt="decor")
                p.advantages-box__text.text-ml.fw-semi-bold.ta-center Наличие всех документов, подтверждающих натуральность и безопасность средства
              .advantages-box-item.grid-item.d-flex.flex-column.align-center
                .advantages-box__img-box.d-flex.align-center.justify-center
                  .advantages-box__img-box-bg
                    img.img(src="images/icon/icons-bg.png", alt="background")
                  img.img(src="images/icon/advantages-icon-5.png", alt="decor")
                p.advantages-box__text.text-ml.fw-semi-bold.ta-center Отсутствие побочных эффектов
              .advantages-box-item.grid-item.d-flex.flex-column.align-center
                .advantages-box__img-box.d-flex.align-center.justify-center
                  .advantages-box__img-box-bg
                    img.img(src="images/icon/icons-bg.png", alt="background")
                  img.img(src="images/icon/advantages-icon-6.png", alt="decor")
                p.advantages-box__text.text-ml.fw-semi-bold.ta-center Реальная польза для здоровья
        
        .form-box.bg-7.d-flex.align-center.flex-column.justify-center.m-null-auto
          .form-box__title.ta-center.fw-bold.color-1.text-xl ТОЛЬКО ОДИН ДЕНЬ!
          .form-box__subtitle.color-1.text-ml КОНСУЛЬТАЦИЯ ДИЕТОЛОГА В ПОДАРОК!
          span.form-box__date.todays.fw-semi-bold.text-xl.color-1.bg-1
          .price.d-flex.align-center.flex-column.justify-center
            span.price__old.title-md.fw-semi-bold.color-1 2840
            span.price__new.fw-semi-bold.title-sx.tt-uppercase.color-9 БЕСПЛАТНО*
          form.form#formBottom(action="" method="POST")
            .form-item.form-item_select
              .form-item_select-decor &lt;
              select.form__select.text-sx(name="country")
                option(value="ru") Россия
                option(value="uk") Украина 
            .form-item
              input.form__input.text-sx(type="text" required name="name" placeholder="Имя")
            .form-item
              input.form__input.text-sx(type="tel" required name="phone" placeholder="Телефон")
            button.btn.form__btn.color-1.fw-semi-bold.text-md.tt-uppercase.bg-3 ПОЛУЧИТЬ БЕСПЛАТНО

          .form-box__text.text-sm.color-1.fw-medium *При заказе курсовой программы

    include ./templates/pug/footer
