@import "fonts", "vars", "grid", "global";

// === Main ===

.product-info {
  position: relative;
  padding: 23px 0 0;
  background: url('../images/main/product-info-bg.jpg');
  background-position: top left;
  background-repeat: no-repeat;
  min-height: 100vh; 

  &__decor {
    position: absolute;

    &_1 {
      left: 0;
      bottom: 200px;
    }

    &_2 {
      right: 2vw;
      top: 0;
    }

    &_3 {
      right: 0;
      bottom: 14%;
    }

    &_mobile-1 {
      display: none;
    }
  }

  .wrap {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 10px;

    &_size {
      margin-left: 15px;
    }
  }

  &-title-box {
    margin-bottom: 70px;
  }

  &__subtitle {
    max-width: 380px;
  }

  &-top {
    margin-bottom: 55px;

    .quality-info {
      max-width: 750px;

      &__item {
        display: flex;
        align-items: center;

        &:not(:first-child) {
          margin-left: 28px;
        }
      }

      &__icon {
        max-width: 59px;
        max-height: 65px;
      }

      &__text {
        margin-left: 15px;
      }
    }

    &__item {
      &:first-child {
        margin-bottom: 60px;
      }

      &:last-child {
        width: 72%;
      }
    }
  }

  &-box {
    &-list {
      margin-bottom: 35px;

      &__decor {
        width: 36px;
        height: 36px;
        margin-right: 15px;
      }

      &__item {
        margin-bottom: 10px;
      }
    }

    &__item {
      &:first-child {
        width: 44%;
        margin-right: 26px;
      }

      &:last-child {
        padding-top: 15px;
      }
    }
  }
}

.disadvantages-obesity {
  position: relative;

  &__title {
    margin-bottom: 10px;
  }

  &__decor {
    position: absolute;

    &_1 {
      left: 6%;
      top: -115px;
      transform: rotate(-47deg);
    }

    &_2 {
      left: 0;
      top: 85px;
    }

    &_3 {
      left: 4%;
      bottom: 115px;
      transform: rotate(75deg);
    }

    &_4 {
      right: 4.5%;
      top: -140px;
      transform: scale(1.05);
    }

    &_5 {
      right: -135px;
      top: 40px;
      transform: rotate(-40deg);
    }

    &_6 {
      right: 5%;
      bottom: 210px;
    }
  }

  &__subtitle {
    max-width: 1007px;
    margin: 0 auto 35px;
  }

  &-container {
    &__title {
      margin-bottom: 45px;
    }
  }

  &-box {
    position: relative;

    &__img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }

    &__flex {
      padding: 35px 40px 180px;
    }

    &-item {
      &__text {
        max-width: 300px;
      }

      &:first-child,
      &:nth-child(2) {
        height: 215px;
      }

      &__mobile {
        display: none;
      }
    }
  }

  &-addition {
    max-width: 580px;

    &__decor {
      margin-bottom: 35px;

      .img {
        max-width: 121px;
      }
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}

.cause-obesity {
  position: relative;
  padding: 88px 0;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;

    .img {
      transform: translateY(-6%);
    }
  }

  &__decor {
    position: absolute;
    z-index: -1;

    &_1 {
      transform: translate(-106px, -54px) rotate(75deg);
    }

    &_2 {
      bottom: 22%;
    }

    &_3 {
      right: 0;
      transform: translate(-10px, -10px) rotate(-104deg);
    }

    &_4 {
      right: 0;
      bottom: 26%;
    }
    
    &_mobile-1 {
      display: none;
      z-index: 1;
    }
  }

  &__title {
    margin-bottom: 65px;
  }

  &-box {
    position: relative;

    &__decor {
      position: absolute;
      border: 1px solid #7FC7DE;
      border-radius: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 45%;
      transform: translateY(-50%);
      z-index: -1;

      &_1 {
        width: 713px;
        height: 713px;
      }

      &_2 {
        width: 627px;
        height: 627px;
      }

      &_3 {
        width: 519px;
        height: 519px;
      }
    }

    &__item {

      &_1,
      &_3 {
        width: 30%;
        padding: 6% 0 10%;
      }

      &_1 {
        .cause-obesity-item__text {
          margin-right: 15px;
        }
      }

      &_3 {
        .cause-obesity-item__text {
          margin-left: 15px;
        }
      }

      &_2 {
        flex-grow: 1;
      }
    }
  }

  &-item {
    justify-content: space-between;

    &__number {
      position: relative;
      width: 97px;
      height: 97px;

      .img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 97px;
        height: 97px;
      }

      &-text {
        position: relative;
        z-index: 1;
      }
    }

    &__text {
      padding: 16px;
      width: calc(100% - 112px);
      border-radius: 15px;
    }

    &_1 {
      transform: translateX(40px);
    }

    &_2 {
      transform: translate(-15px, -15px);
    }

    &_3 {
      transform: translateX(80px);
    }

    &_4 {
      transform: translate(-40px, 20px);
    }

    &_5 {
      transform: translate(20px, 5px);
    }

    &_6 {
      transform: translate(-75px, 0);
    }
  }
}

.benefit-prod {
  padding: 45px 0 50px;

  &__title {
    max-width: 420px;
    margin-bottom: 22px;
  }

  &__subtitle {
    max-width: 470px;
    margin-bottom: 23px;
  }

  &-item {
    width: calc(50% - 10px);

    &:first-child {
      margin-right: 10px;
    }
  }

  &-list-box {
    margin-bottom: 45px;

    &__title {
      margin-bottom: 43px;
    }
  }

  &-list {
    &-item {
      margin-bottom: 24px;

      &-icon {
        position: relative;
        width: 72px;
        height: 72px;
        margin-right: 15px;

        &_bg {
          position: absolute;
          left: 0;
          top: 0;
        }

        &_img {
          position: relative;
        }
      }

      &__text {
        width: calc(100% - 87px);
      }
    }
  }

  &-text-info {
    max-width: 410px;
    margin: 0 auto;

    &__content {
      margin-bottom: 20px;
    }

    &__link {
      padding: 12px 50px;
      border: none;
      border-radius: 50px;
    }
  }

  &-box {
    &-item {
      &__title {
        margin-top: 10px;
      }

      &__img {
        transform: translateY(-10px);
      }
    }
  }
}

.structure-prod {
  position: relative;
  padding: 30px 0 171px;
  background: url(../images/main/structure-prod-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &__decor {
    position: absolute;

    &_1 {
      left: 0;
      top: -2%;
    }

    &_2 {
      bottom: -7%;
      right: -10px;
      transform: scale(0.8) rotate(155deg);
    }
  }

  &__title {
    max-width: 600px;
    margin: 0 auto 75px;
  }

  &-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    transform: scale(1.05);
  }

  &-item {
    position: absolute;

    &::before {
      position: absolute;
      height: 2px;
      background: var((--bg-4));
      content: "";
    }

    &__element {
      padding: 25px;
    }

    &-info {
      position: absolute;
      max-width: 335px;
      left: 0;
      width: 100vw;
      padding: 15px 23px 40px;
      border-radius: 15px;
      z-index: 1;

      &__title {
        display: block;
        padding-bottom: 8px;
        margin-bottom: 8px;
        font-weight: 500;
        border-bottom: 1px solid #D5E6E4;
      }

      &__text {
        line-height: 1.2em;
      }
    }


    &_1 {
      left: 300px;
      top: 325px;

      .structure-prod-item-info {
        left: -295px;
        top: -180px;
      }

      &::before {
        top: -18px;
        right: 45px;
        width: 100px;
        transform: rotate(8deg);
      }
    }

    &_2 {
      left: 485px;
      top: 192px;

      .structure-prod-item-info {
        left: -298px;
        top: -241px;
      }

      &::before {
        top: -93px;
        right: 20px;
        width: 170px;
        transform: rotate(53deg);
      }
    }

    &_3 {
      right: 388px;
      top: 55px;

      .structure-prod-item-info {
        left: 149px;
        top: -112px;
        padding-bottom: 15px;
      }

      &::before {
        top: -40px;
        right: -190px;
        width: 200px;
        transform: rotate(330deg);
      }
    }

    &_4 {
      right: 310px;
      top: 180px;

      .structure-prod-item-info {
        left: 69px;
        top: 47px;
        padding-bottom: 15px;
      }

      &::before {
        top: 77px;
        right: -115px;
        width: 150px;
        transform: rotate(228deg);
      }
    }

    &_5 {
      right: 335px;
      top: 385px;

      .structure-prod-item-info {
        left: 101px;
        top: 78px;
        padding-bottom: 15px;
      }

      &::before {
        top: 77px;
        right: -70px;
        width: 100px;
        transform: rotate(25deg);
      }
    }

    &_6 {
      left: 545px;
      bottom: 50px;

      .structure-prod-item-info {
        left: 133px;
        top: 66px;
        padding-bottom: 15px;
      }

      &::before {
        top: 80px;
        right: -83px;
        width: 100px;
        transform: rotate(35deg);
      }
    }

    &_7 {
      left: 490px;
      bottom: 280px;

      .structure-prod-item-info {
        left: -360px;
        top: 107px;
        padding-bottom: 15px;
      }

      &::before {
        top: 145px;
        right: 30px;
        width: 170px;
        transform: rotate(115deg);
      }
    }
  }

  &-slider {
    display: none;
  }
}

.pluses-prod {
  padding: 70px 0 196px;
  background: url('../images/main/pluses-prod-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  &__title {
    margin-bottom: 240px;
  }

  &-box {
    &-item {
      width: 24%;

      &_2 {
        margin: 0 60px 0 10px;
        padding-left: 60px;
        width: 46%;
        max-width: 560px;
      }

      &_1,
      &_3 {
        padding-bottom: 20px;
      }
    }
  }
}

.authoritative-opinion {
  padding: 50px 0 0;

  &-item {
    &_1 {
      position: relative;
      width: 50%;

      .img-box {
        position: absolute;
        bottom: 0;
      }
    }

    &_2 {
      width: 50%;
      padding: 0 0 37px 45px;
      margin-left: -5px;
    }

    &-box {
      padding: 40px 30px 30px 0;
      margin-bottom: 22px;
      position: relative;

      &::before,
      &::after {
        position: absolute;
        border: 1px solid var(--color-11);
        content: '';
        width: 108%;
        height: calc(100% - 15px);
      }

      &::before {
        top: 0;
        left: -45px;
      }

      &:after {
        top: 15px;
        left: -30px;
      }

      &__text {

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__title {
    margin-bottom: 23px;
  }
}

.method-application {
  position: relative;
  background: url('../images/main/method-application-bg.jpg') no-repeat;
  background-size: cover;
  padding-top: 110px;

  &__decor {
    position: absolute;
    z-index: 0;

    &_1 {
      top: -30px;
      left: 0;
    }

    &_2 {
      top: 20px;
      right: 20%;
    }

    &_3 {
      right: 0;
      bottom: 0;
    }
  }

  &-box {
    position: relative;
    z-index: 1;
  }

  &-item {
    &_1 {
      width: 71%;
      margin-right: 20px;
    }

    &_2 {
      padding-top: 40px;
    }

    &__decor {
      padding-left: 10px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &-list {
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 30px;

    &__item {
      margin-bottom: 4px;
    }
  }
}

.reviews {
  padding: 75px 0 240px;
  margin: 0 auto;

  &-slider {
    max-width: 1150px;
    margin: 0 auto;
    padding: 90px 15px 98px;
    overflow: hidden;

    &-container {
      position: relative;
    }

    &-box {
      max-width: 413px;
      width: 35%;
      overflow: visible;

      .swiper-slide {
        transform: scale(.9);
        transition: transform .3s linear;
      }

      .swiper-slide-active {
        transform: scale(1.3);

        .reviews-item__img {
          border: 3px solid var(--color-base);
        }
      }
    }
  }

  &-swiper-button-prev,
  &-swiper-button-next {
    position: absolute;
    top: 50%;

    &::after {
      font-size: 45px;
      font-weight: bold;
      color: var(--color-12)
    }
  }

  &-swiper-button-prev {
    left: -20px;
  }

  &-swiper-button-next {
    right: -20px;
  }

  &-item {
    padding: 0 38px;
    &__img {
      border-radius: 500px;
      border: 4px solid var(--color-base);
      background: var(--bg-6);
      overflow: hidden;

      &_color {
        background: var(--bg-5);
      }
    }
  }

  &-text-box {
    position: relative;
    max-width: 910px;
    margin: 0 auto;

    &-item {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      visibility: hidden;
      opacity: 0;

      &.active {
        opacity: 1;
        visibility: visible;
        transition: .3s linear;
      }

      &__name {
        margin-bottom: 5px;
      }
  
      &__info {
        margin-bottom: 10px;
      }
    }
  }
}

.advantages {
  padding: 65px 0 55px;
  background: url('../images/main/advantages-bg.jpg') no-repeat;
  background-size: cover;

  &__title {
    max-width: 950px;
    margin: 0 auto 50px;
  }

  &-box {
    --grid-space: 10px;
    margin-bottom: 20px;

    &__img-box {
      position: relative;
      width: 95px;
      height: 95px;
      margin-bottom: 10px;

      &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      & > .img {
        position: relative;
      }
    }
  }
}

@import "media";